<% provide(:title, 'All quote requests') %>
<h1>All quote requests</h1>

<%= will_paginate %>

<div class="row">
	<div class="large-1 large-offset-1 columns">ID</div>
	<div class="large-3 columns">Customer name</div>
	<div class="large-2 columns">Job type</div>
	<div class="large-1 columns">Created</div>
	<div class="large-1 columns">Updated</div>
	<div class="large-2 columns"></div>

</div>
<ul class="quotes">
		<%= render @quotes %>
</ul>

<%= will_paginate %>